:root {
  --color-main: rgba(36, 35, 35, 1);
  --color-mainAcc1: rgba(60, 55, 50, 1);
  --color-mainAcc1t1: rgba(60, 55, 50, 0.85);
  --color-mainAcc1t2: rgba(60, 55, 50, 0.5);
  --color-mainAcc2: rgba(146, 145, 145, 1);
  --color-neutralAcc1: #7C6148;
  --color-neutralAcc1Fade: #beb0a4;
  --color-orange: rgba(255, 128, 6, 1);
  --color-oranget1: rgba(255, 128, 6, 0.6);
  --color-orangeAcc1: #FFB36A;
}

html {
  box-sizing: border-box;
  font-size: 75%;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #000;
}

.heroContainer {
  min-height: 100vh;
}

.dividerContainer {
  padding-top: 3.7vh;
  padding-bottom: 6vh;
  background-color: white;
}

.divider {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  z-index: 2;
}

.dividerCenterContainer {
  position: relative;
  width: 33%;
  z-index: 1;
}

.dividerCenter {
  position: relative;
  width: 33%;
  border-bottom: 1.3vh solid var(--color-orangeAcc1);
  border-radius: 1px;
  z-index: 1;
  opacity: 0.5;
}

.second {
}

.third {
}

#nav {
  position: fixed;
  width: 100%;
  height: 5.3vh;
  padding-top: 6vh;
  padding-bottom: 0;
  background-color: white;
  z-index: 3;
}

#nav > .divider {
  justify-content: center;
}

#navOffset {
  position: absolute;
  top: 85vh;
}

.navHeadSide {
  position: fixed;
  margin-right: 6px;
  margin-left: 6px;
  width: 33%;
  border-bottom: 1.3vh solid var(--color-orangeAcc1);
  border-radius: 1px;
  z-index: 1;
  opacity: 0.1;
}

.navHeadSideLeft {
  left: 0;
}

.navHeadSideRight {
  right: 0;
}

.navHeadCenter {
  width: 100%;
  opacity: 1;
}

.navMenuContainer {
  height: 3.7vh;
  visibility: hidden;
  opacity: 0;
}

.navMenu {
  height: 100%;
}

.navMini {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.3vw;
  opacity: 0.4;
}

.navMini > a {
  padding: 0 4px;
}

.navMini > a:hover {
  transform: scale(0.85);
  transition: transform 0.3s, ease-out 0.2s;
}

.navMenu > ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 100%;
  font-size: 2em;
}

.navMenuBreak {
  margin: 5px 0 5px 0;
  border-left: 2px solid var(--color-mainAcc1);
  opacity: 0.4;
}

.navMenu > ul > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-mainAcc1t2);
  font-family: 'Teko', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navMenu > ul > a:hover {
  text-decoration: underline;
  background-color: var(--color-oranget1);
  transition: background-color 0.2s, text-decoration 0.6s, ease-in 0.4s;
  color: var(--color-mainAcc1t1);
}

.navActive {
  background-image: linear-gradient(
    var(--color-oranget1) 0%,
    var(--color-oranget1) 60%,
    var(--color-orange) 100%
    );
  transition: background-image 0.4s, ease-in 0.4s;
  color: var(--color-mainAcc1t1) !important;
}

.navHeadSideAni {
  opacity: 0;
  width: 0;
  transition: opacity 0.5s, width 0.3s, ease-in 1s;
}

.navHeadSideAni2 {
  opacity: 0.1;
  width: 33%;
  transition: opacity 0.5s, width 0.3s, ease-in 2s;
}

.navHeadCenterAni {
  width: 60%;
  transition: width 1s, ease-out 0.6s;
}

.navHeadCenterAni2 {
  width: 33%;
  transition: width 1s, ease-out 1.4s;
}

.navMenuAni {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s, ease-out 0.3s;
}

.navMenuAni2 {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity, ease-out 0.2s;
}

header {
  height: 80vh;
  padding-top: 84px;
  background-color: white;
}

.headerMidContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.headerLeft, .headerRight {
  flex: 1;
}

.headerNavContainer {
  width: 24px;
  height: 24px;
}

@keyframes headerNavAni {
  from {transform: scale(0.85);}
  to {transform: scale(1.10);}
}

.headerNav {
  object-fit: contain;
  position: absolute;
  float: right;
  bottom: 10vh;
  right: 2vw;
  padding: 10px;
  border: 0.2em solid var(--color-orangeAcc1);
  border-radius: 50%;
  opacity: 0.4;
  animation: headerNavAni 1.2s ease-in-out alternate infinite running;
  transition: background-color 0.5s;
}

.headerNav:hover {
  background-color: var(--color-oranget1);
  transition: background-color, ease-in 0.5s;
}

.headerCenter {
  position: relative;
  flex: 2.5;
}

.headerCenterOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  height: 50%;
  width: 100%;
  opacity: 0.5;
  white-space: nowrap;
}

.headerCenterOverlay h1 {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-top: 3px solid var(--color-mainAcc2);
  border-bottom: 3px solid var(--color-mainAcc2);
  border-radius: 3px;
  font-size: 5vw;
  color: var(--color-mainAcc1);
}

.mainContainer {
  position: relative;
  display: flex;
}

.mainLeft {
  flex: 1;
}

.mainRight {
  flex: 1;
}

.mainTop {
  position: sticky;
  top: 11vh;
  margin-top: -5px;
  height: 5px;
  border-top: 30px solid var(--color-orange);
  border-radius: 4px 4px 0 0;
  background-color: var(--color-mainAcc1);
  z-index: 3;
}

main {
  position: relative;
  width: 85vw;
  background-color: var(--color-main);
  color: white;
  z-index: 1;
}

#navBtnTop {
  display: block;
  margin-top: -11vh;
  padding-top: 11vh;
}

.mainBodyContainer {
  background-color: var(--color-main);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.mainHeader {
  display: flex;
  height: 25vh;
  min-height: 135px;
  width: 100%;
  background-color: var(--color-main);
}

.mainHeaderLeft {
  display: flex;
  flex: 1;
}

.mainHeaderLeftEdge {
  display: flex;
  flex-direction: column;
  width: 1.2vw;
  margin-left: -5px;
  overflow: hidden;
}

.mainHeaderLeftEdgeTop {
  flex: 1;
  width: 0;
  height: 0;
  /* padding-left: 2px; */
  border-bottom: 40px solid white;
  border-right: 50px solid transparent;
}

.mainHeaderLeftEdgeMiddle {
  flex: 4;
  /* padding-left: 2px; */
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: white;
}

.mainHeaderLeftEdgeBottom {
  flex: 1;
  width: 0;
  height: 0;
  /* padding-left: 2px; */
  border-top: 40px solid white;
  border-right: 50px solid transparent;
}

.mainHeaderLeftIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right: 6px solid var(--color-mainAcc1);
}

.mainHeaderCenter {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 135px;
  border-right: 6px solid var(--color-mainAcc1);
}

.mainHeaderCenter > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2.5em;
}

.mainHeaderCenter > ul > a {
  text-decoration: none;
  color: white;
}

.mainHeaderCenter > ul > a > li {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.mainHeaderCenter > ul > a > li > img {
  margin-right: 0.5em;
  padding: 5px;
  background-color: var(--color-orangeAcc1);
  border-radius: 3px;
}

.mainHeaderRight {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 3em;
  overflow: hidden;
}

.mainHeaderRight > h3 {
  padding: 0;
  margin: 0;
}

.mainHeaderRightBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 0.5em;
}

.mainHeaderRightBody > span {
  padding-top: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.7;
}

.mainHeaderFoot {
  width: 100%;
  padding-bottom: 3vh;
  border-top: 5px solid var(--color-mainAcc1);
}

.mainContentContainer {
  position: relative;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  z-index: 2;
  clear: both;
}

.mainContentContainer:nth-child(2n+1) {
  float: left;
  left: -2vw;
  width: 80vw;
  background-color: white;
  z-index: 1;
}

.mainContentBody {
  height: 400px;
}

.mainBottom {
  clear: left;
  height: 5px;
  margin-bottom: -5px;
  border-top: 120px solid var(--color-main);
  border-bottom: 60px solid var(--color-orange);
  border-radius: 0 0 4px 4px;
  background-color: var(--color-mainAcc1);
}

footer {
}
