:root {
  --color-main: rgba(36, 35, 35, 1);
  --color-mainAcc1: rgba(60, 55, 50, 1);
  --color-mainAcc1o: rgba(60, 55, 50, 0.85);
  --color-mainAcc2: rgba(146, 145, 145, 1);
  --color-neutralAcc1: #7C6148;
  --color-neutralAcc1Fade: #beb0a4;
  --color-orange: #FF8006;
  --color-orangeAcc1: #FFB36A;
}

html {
  box-sizing: border-box;
  font-size: 75%;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #000;
}

.dividerContainer {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: white;
}

.divider {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  z-index: 2;
}

.dividerCenterContainer {
  position: relative;
  width: 33%;
  z-index: 1;
}

.dividerCenter {
  position: relative;
  width: 33%;
  border-bottom: 1em solid var(--color-neutralAcc1Fade);
  border-radius: 1px;
  z-index: 1;
}

.second {
}

.third {
}

#nav {
  position: fixed;
  width: 100%;
  height: 48px;
  padding-top: 36px;
  padding-bottom: 0;
  background-color: white;
  z-index: 3;
}

#nav > .divider {
  justify-content: center;
}

.navHeadSide {
  position: fixed;
  margin-right: 6px;
  margin-left: 6px;
  width: 33%;
  border-bottom: 1em solid var(--color-neutralAcc1Fade);
  border-radius: 1px;
  z-index: 1;
  opacity: 0.1;
}

.navHeadSideLeft {
  left: 0;
}

.navHeadSideRight {
  right: 0;
}

.navHeadCenter {
  width: 100%;
}

.navMenuContainer {
  visibility: hidden;
  opacity: 0;
}

.navMenu {
}

.navMenu > ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 2vw 0 2vw;
  height: 36px;
  list-style: none;
  line-height: 1.5em;
  font-size: 1.5em;
}

.navMenu > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: var(--color-mainAcc1o);
}

.navHeadSideAni {
  opacity: 0;
  width: 0;
  transition: opacity 0.5s, width 0.3s, ease-in 1s;
}

.navHeadSideAni2 {
  opacity: 0.1;
  width: 33%;
  transition: opacity 0.5s, width 0.3s, ease-in 2s;
}

.navHeadCenterAni {
  width: 60%;
  transition: width 1s, ease-out 0.6s;
}

.navHeadCenterAni2 {
  width: 33%;
  transition: width 1s, ease-out 1.4s;
}

.navMenuAni {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s, ease-out 0.3s;
}

.navMenuAni2 {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity, ease-out 0.2s;
}

header {
  height: 85vh;
  padding-top: 84px;
  background-color: white;
}

.headerMidContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.headerLeft, .headerRight {
  flex: 1;
}

.headerCenter {
  position: relative;
  flex: 2.5;
}

.headerCenterOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  height: 50%;
  width: 100%;
  opacity: 0.5;
  white-space: nowrap;
}

.headerCenterOverlay h1 {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-top: 3px solid var(--color-mainAcc2);
  border-bottom: 3px solid var(--color-mainAcc2);
  border-radius: 3px;
  font-size: 5vw;
  color: var(--color-mainAcc1);
}

.mainContainer {
  position: relative;
  display: flex;
}

.mainLeft {
  flex: 1;
}

.mainRight {
  flex: 1;
}

main {
  position: relative;
  width: 85vw;
  border-top: 30px solid var(--color-mainAcc1);
  border-bottom: 60px solid var(--color-mainAcc1);
  border-left: 10px solid var(--color-mainAcc1);
  border-right: 10px solid var(--color-mainAcc1);
  border-radius: 4px;
  background-color: var(--color-main);
}

.mainHead {
  height: 1000px;
}

footer {
}
